[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".zsh_custom/themes/powerlevel10k"]
	path = .zsh_custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".zsh_custom/plugins/you-should-use"]
	path = .zsh_custom/plugins/you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
[submodule ".zsh_custom/plugins/zsh-autosuggestions"]
	path = .zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh_custom/plugins/fast-syntax-highlighting"]
	path = .zsh_custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
