# Git
export GIT_SSH_COMMAND='ssh -i ~/.ssh/github'
export GIT_AUTHOR_NAME="Fredrick Myrvoll"
export GIT_AUTHOR_EMAIL="fredrickmyrvoll@gmail.com"
export GIT_COMMITTER_NAME=$GIT_AUTHOR_NAME
export GIT_COMMITTER_EMAIL=$GIT_AUTHOR_EMAIL

# Google
CLOUDSDK_ACTIVE_CONFIG_NAME=cloudlab

# Golang
export GOROOT=$(asdf where golang)/go
export GOPRIVATE="github.com/frealmyr"
export GONOSUMDB=off
export GOPATH="$HOME/.gopaths/frealmyr"
export PATH="$PATH:$HOME/.gopaths/frealmyr/bin"

# Misc
echo "Direnv loaded: frealmyr"
