/* :root {
  --color-bg: #282a36;
  --color-line: #44475a;
  --color-fg: #f8f8f2;
  --color-comment: #6272a4;
  --color-cyan: #8be9fd;
  --color-green: #50fa7b;
  --color-orange: #ffb86c;
  --color-pink: #ff79c6;
  --color-purple: #bd93f9;
  --color-red: #ff5555;
  --color-yellow: #f1fa8c;
} */

* {
  transition: none;
  box-shadow: none;
  font-family: 'Ubuntu';
  font-weight: 400;
  border-radius: 0; /* I like it sharp */

}

#waybar {
  color: #f8f8f2;
  background: #282a36;
}

#workspaces {
  margin: 0 0px;
}

#workspaces button {
  padding: 0 1px;
  color: #f8f8f2;
}

#workspaces button.focused {
  background-color: #bd93f9;
  color: #ffffff;
}

#workspaces button.warning {
  color: #ffd255;
}

#workspaces button.urgent {
  color: #ff5555;
}

#tray {
  margin: 0;
  padding: 0;
  background-color: #313342;
  border-radius: 0;
}

#tray *:first-child {
  border-left: none;
}

#mode, #custom-notification, #gamemode, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #tray, #backlight, #custom-battery, #temperature {
  padding: 7px 0 7px 0;
  background-color: #313342;
}

#custom-battery {
  background-color: #5c7744;
}

#tray {
  background-color: #b86a53;
}

#clock {
  font-size: 13pt;
  font-weight: 900;
  background-color: #9b6491;
}

#idle_inhibitor {
  background-color: #5e81ac;
}

#pulseaudio {
  background-color: #bf616a;
}

#pulseaudio.muted {
  color: #ff5555;
  background-color: transparent;
  padding-top: 0;
}

#pulseaudio.bluetooth {
  color: #8be9fd;
}

#temperature.critical {
  color: #ff5555;
}

#gamemode {
  color:#313342;
  background-color: #ffb86c;
}

#window {
  color: gray;
}
