* {
  transition: none;
  box-shadow: none;
  font-family: 'Ubuntu';
  font-weight: 400;
  border-radius: 0; /* I like it sharp */

}

#waybar {
  color: #f8f8f2;
  background: #282a36;
}

/* Modules - Left */

#workspaces {
  margin: 0 0px;
}

#workspaces button {
  padding: 0 1px;
  color: #f8f8f2;
}

#workspaces button.focused {
  background-color: #bd93f9;
  color: #ffffff;
}

#workspaces button.warning {
  color: #ffd255;
}

#workspaces button.urgent {
  color: #ff5555;
}

/* Modules - Center */

#window {
  color: gray;
}

/* Modules - Right */

#mode, #custom-notification, #gamemode, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #tray, #backlight, #custom-battery, #temperature {
  padding: 7px 0 7px 0;
}

#gamemode {
  color:#313342;
  background-color: #ffb86c;
}

#idle_inhibitor {
  background-color: #8fbcbb;
}

#custom-battery {
  background-color: #a3be8c;
}

#pulseaudio {
  background-color: #5e81ac;
}

#pulseaudio.muted {
  color: #ff5555;
  padding-top: 7px;
}

#pulseaudio.bluetooth {
  color: #8be9fd;
}

#custom-power {
  background-color: darkolivegreen;
}

#tray {
  margin: 0;
  border-radius: 0;
  padding: 5px 0 5px 1px;
  background-color: darkslategray;
}

#tray *:first-child {
  border-left: none;
}

#clock {
  padding: 0;
  font-size: 13pt;
  font-weight: 900;
  background-color: transparent;
}
