/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}

#titlebar {
  visibility: collapse;
}

#sidebar-header {
  visibility: collapse !important;
} 

/* hides back/forward buttons */
#back-button, #forward-button { 
  display:none!important; 
}
