
# Git
export GIT_SSH_COMMAND='ssh -i ~/.ssh/bitbucket_tv2'
export GIT_AUTHOR_NAME="Fredrick Myrvoll"
export GIT_AUTHOR_EMAIL="fredrick.myrvoll@tv2.no"
export GIT_COMMITTER_NAME=$GIT_AUTHOR_NAME
export GIT_COMMITTER_EMAIL=$GIT_AUTHOR_EMAIL

# Google
export CLOUDSDK_ACTIVE_CONFIG_NAME=tv2

# AWS
#export AWS_CONFIG_FILE=$(pwd)/.aws/config
#export AWS_SHARED_CREDENTIALS_FILE=$(pwd)/.aws/credentials
#export AWS_SDK_LOAD_CONFIG=1

# Kubernetes
export KUBECONFIG=~/.kube/config_tv2

# Golang
#export GOROOT=$(asdf where golang)/go
export GOPRIVATE="bitbucket.org/tv2norge"
#export GOPROXY="https://goproxy.aws14.tv2.no:3030"
export GONOSUMDB="bitbucket.org/tv2norge/*"
export GOPATH="$HOME/.gopaths/tv2"
export PATH="$PATH:$HOME/.gopaths/tv2/bin"

# Ansible
export=AWS_PROFILE=ap

# Misc
echo "Direnv loaded: TV2"
