# Git
export GIT_CONFIG="$HOME/Repositories/tv2/.gitconfig"
export GIT_SSH_COMMAND='ssh -i ~/.ssh/bitbucket_tv2'

# Golang
export GOROOT=$(asdf where golang)/go
export GOPRIVATE="bitbucket.org/tv2norge"
#export GOPROXY="https://goproxy.aws14.tv2.no:3030"
export GONOSUMDB="bitbucket.org/tv2norge/*"
export GOPATH="$HOME/.gopaths/tv2"
export PATH="$PATH:$HOME/.gopaths/tv2/bin"

# Misc
echo "Loaded direnv: TV2"
