/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}

#titlebar {
  visibility: collapse;
}

#sidebar-header {
  visibility: collapse !important;
}

#back-button, #forward-button {
  display:none!important;
}

/* Hide sidebar splitter when using Tree Style Tab.  */
/* #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
  display: none !important;
} */

/* Arc/Nord theme stuff, looks good on Ubuntu */

menubar, toolbar, nav-bar, #TabsToolbar > *{
  background-color: #383c4a !important;
}

#urlbar {
  background-color: #4b5162 !important;
}

#urlbar-background {
  background: #4b5162 !important;
}

