:root,
#background {
  background-color: #20242c;
}

tab-item {
  background-color: #383c4a;
}

/*
  Active tab styling
*/

tab-item.active {
  background-color: #CC575D;
}

tab-item.active .label-content {
  font-weight: bold;
}

tab-item.active tab-twisty,
tab-item.active .label-content,
tab-item.active tab-counter {
  color: #fff;
}

/*
  Hover tab styling
*/

tab-item:hover {
  background: #5294E2 !important;
  opacity: 1;
}

/*
  Change tab height
*/

tab-item {
  --tab-size: 32px !important;
  height: var(--tab-size);
}

/*
  Mark tabs with container color
*/

.contextual-identity-marker {
  width: 0.25em !important;
}

/*
  Tab numbering and counting when collapsed
*/

#tabbar {
  counter-reset: vtabs atabs tabs;
  /* vtabs tracks visible tabs, atabs tracks active tabs, tabs tracks all tabs */
}
tab-item:not(.collapsed):not(.discarded) {
  counter-increment: vtabs atabs tabs;
}
tab-item:not(.collapsed) {
  counter-increment: vtabs tabs;
}
tab-item:not(.discarded) {
  counter-increment: atabs tabs;
}
tab-item {
  counter-increment: tabs;
}


/* Less visible tab dividers.
   A black border with a very low alpha slightly darkens any color. */

tab-item {
  border: solid 1px #00000012;
}

/*
  Hide twisty and collapse/expand tree by clicking on tab's icon
*/

tab-item tab-twisty {
  margin-right: -1em;
  opacity: 0 !important;
  position: relative;
  z-index: 10000;
}

/*
  Only show tab close button on hover
*/

tab-item:not(:hover) tab-closebox {
  display: none;
}


/*
  Show title of unread tabs in italic
*/

tab-item.unread .label-content {
  font-style: italic;
}

/*
  Change styling of pending (unloaded) tabs
*/

/* Change styling of pending (unloaded) tabs */
tab-item.discarded {
  opacity: 0.50;
}

tab-item.discarded:hover {
  opacity: 0.75;
}

tab-item.discarded .label-content {
  color:grey;
}

tab-item.discarded:hover .label-content {
  color:white;
}

